@import url("intro.css");
@import url("schedule.css");
@import url("footer.css");


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
	color: #ffffff;
}

h3, h4 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    height: 100px;
}