.wrapper {
    text-align: center;
    font-weight: bold;
}
figcaption {
    font-weight: bold;
}
figure {
     display: inline-block;
     text-align: center;
}
figure img {
     height: 300px;
     margin-bottom: 150px;
}

