.wrapper {
    text-align: center;
    font-weight: bold;
}
figcaption {
    font-weight: bold;
}
figure {
     display: inline-block;
     text-align: center;
}
figure img {
     height: 300px;
     margin-bottom: 150px;
}

h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    height: 100px;
}